<div class="container">
    <div class="container-controls container-form">
            <mat-form-field color="warn" >
              <input type="password"  autocomplete="new-password" name="firstpassword" autofocus  matInput placeholder="Ingrese la nueva contraseña" [(ngModel)]="passwordChangeDTO.password">
            </mat-form-field>
            <button color='warn' (click)="onChangePassword();" mat-raised-button>Cambiar contraseña</button>
    </div>
  </div>
  
  
  