.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    background-image: url('../../../assets/img/aws-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    background-color: #030133;
    box-sizing: border-box;
    padding: 50px;
}
.container-controls{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 20px;
    width: 500px;
    justify-content:space-between;
}

