<h1>Encuesta: Lenguaje de programación favorito</h1>
<div class="container">
    <form class="container-controls container-form" [formGroup]="registerForm" (submit)="onSaveEncuesta();">
        <mat-form-field color="warn">
            <input matInput placeholder="Ingresa tu nombre" formControlName="nombres" [(ngModel)]="encuesta.nombres"
                maxlength="30" required>
            <mat-error *ngIf="!f.nombres.valid && f.nombres.touched">Debe ingresar los nombres</mat-error>
        </mat-form-field>
        <mat-form-field color="warn">
            <input matInput placeholder="Ingresa tus apellidos" formControlName="apellidos" [(ngModel)]="encuesta.apellidos"
                maxlength="50" required>
            <mat-error *ngIf="!f.apellidos.valid && f.apellidos.touched">
                Debe ingresar los apellidos
            </mat-error>
        </mat-form-field>
        <mat-form-field color="warn">
            <input matInput placeholder="Ingresa tu edad" formControlName="edad" [(ngModel)]="encuesta.edad" maxlength="2"
                required>
            <mat-error *ngIf="!f.edad.valid && f.edad.touched"> Debe ingresar la edad</mat-error>
        </mat-form-field>
        <mat-radio-group class="example-radio-group" [(ngModel)]="encuesta.curso" formControlName="curso" required>
            <mat-radio-button class="example-radio-button" [value]="'j'">
                Java
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="'c'">
                C#
            </mat-radio-button>
        </mat-radio-group>
        <button type="submit" color='warn' mat-raised-button>Enviar</button>
    </form>
</div>