/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #F4F4F4; }
/*.container{
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box
}*/
.container-form{
    background: white;
    border-color: #F44336;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}

.header{
    height: 70px;
    background-image: url(assets/img/wallpaper-black.jpg);
    justify-content: space-between;
    align-items: center;
    padding: 5px 26px 5px 5px;
    display: flex;
}
.header .logo{
    height: 55px;
}
.header .mat-icon {
    fill: #FFF !important;
    height: 55px !important;
    width: 55px !important;
    cursor: pointer;
    margin-top: -6px;
}
app-root{
    height: 100%;
    display: flex;
    flex-direction: column;
}
app-encuesta,app-encuesta-lista{
    padding: 30px;
}
app-login,app-encuesta,app-encuesta-lista,app-login-first-password{
    display: flex;
    height: 100%;
    flex-direction: column;
}
